.calendar-month-picker {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 1px solid #898989;
  padding: 10px 0;

  .month-picker-arrow {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}

.calendar-year,
.calendar-month {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-year {
  width: 60px;
}

.text {
  margin: 0 5px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
