.spacer {
  flex: 1 1 auto;
}

.calendar-cont {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-table {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  font-size: 12px;
}

.calendar-header-row {
  background: #2f74b5;
  color: white;
}

.calendar-cell {
  width: 80px;
}

.calendar-week-cell {
  padding: 2px 7px 7px;
  height: 60px;
  color: #0a0a0a;
  font-weight: 700;
  border: 1px solid #898989;
  vertical-align: baseline;
  cursor: pointer;

  &.weekend-day {
    color: #3f7bb7;
    background: rgb(216, 216, 216);
  }

  &.disabled-day {
    color: #a6a6a6;
    cursor: inherit;
  }
}
