.spacer {
  flex: 1 1 auto;
}

.calendar-cont {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-table {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  font-size: 12px;
}

.calendar-header-row {
  background: #2f74b5;
  border: 1px solid #2f74b5;
  color: white;
}

.calendar-cell {
  width: 80px;
}

.calendar-week-cell {
  padding: 2px 7px 7px;
  height: 60px;
  color: #0a0a0a;
  font-weight: 700;
  border: 1px solid #898989;
  vertical-align: baseline;
  cursor: pointer;

  &.weekend-day {
    color: #3f7bb7;
    background: rgb(216, 216, 216);
  }

  &.disabled-day {
    color: #a6a6a6;
    cursor: inherit;
  }
}

.reminder-cont {
  height: 80px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;

  &:hover {
    overflow-y: auto;
  }
}

.reminder-item {
  max-width: 76px;
  border-radius: 5px;
  padding: 2px;
  background: lightblue;
  margin-bottom: 2px;
}

.reminder-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  line-height: normal;
  margin-bottom: 0px;
  color: rgb(39, 39, 39);
}

.reminder-city {
  font-size: 9px;
  margin-bottom: 0px;
  color: rgb(39, 39, 39);
}

.weather-icon {
  width: 20px;
  height: 20px;
}
