<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jobsity challenge</span>
  <span class="spacer"></span>
  <button mat-button (click)="openReminderForm()">
    <mat-icon>add</mat-icon> New reminder
  </button>
</mat-toolbar>

<!-- Create the calendar here -->
<div class="calendar-cont">
  <div class="calendar-main">
    <app-month-picker
      (monthChanged)="updateSelectedMonth($event)"
    ></app-month-picker>
    <table class="calendar-table">
      <tr class="calendar-header-row">
        <th class="calendar-cell calendar-header-cell" *ngFor="let day of days">
          {{ day }}
        </th>
      </tr>
      <tr class="calendar-week-row" *ngFor="let week of selectedMonth?.weeks">
        <td
          (click)="openModal(day)"
          class="calendar-cell calendar-week-cell"
          *ngFor="let day of week.days; let i = index"
          [ngClass]="{
            'weekend-day': i === 0 || i === 6,
            'disabled-day': day.date.getMonth() !== selectedMonthIndex
          }"
        >
          {{ day.date | date : "dd" }}
          <div class="reminder-cont">
            <div *ngFor="let reminder of day.reminders" class="reminder-item">
              <!-- <p class="reminder-city">
                {{ reminder.city }}
                <img
                  class="weather-icon"
                  src="assets/weather-icons/{{ reminder.weather }}.svg"
                  alt="weather"
                />
              </p> -->
              <p
                class="reminder-title"
                title="{{ reminder.dateTime | date : 'shortTime' }}, {{
                  reminder.text
                }}"
              >
                {{ reminder.text }}
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="week" *ngFor="let week of selectedMonth?.weeks"></div>
  </div>
</div>
<app-day-modal
  *ngIf="modalVisible"
  (closeModal)="closeModal()"
  [day]="selectedDay"
></app-day-modal>
<!-- ======================== -->
