.reminder-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reminder-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.reminder-time {
  margin-bottom: 25px;
}

.reminder-date {
}

.close-icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.reminder-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

p {
  margin-bottom: 0;
}

.reminder-input {
  padding: 6px;
  border-radius: 4px;
  width: -webkit-fill-available;
  border: 1px solid #a3a3a3;
}

.custom-calendar-card {
  width: 300px;
}

.update-button {
  background: #2f74b5;
  border: none;
  padding: 4px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
