<div class="reminder-container">
  <div class="reminder-header">
    <div>
      <h2>Add a new reminder</h2>
    </div>
    <div>
      <img
        class="close-icon"
        src="assets/icons/close.png"
        alt="close"
        (click)="closeModal()"
      />
    </div>
  </div>
  <div>
    <div class="reminder-time">
      <p *ngIf="!selectedDate">Please, select a time and a day:</p>
      <p *ngIf="!!selectedDate">
        Selected date: {{ selectedDate | date : "dd/MM/yyyy, HH:mm" }}
      </p>
    </div>
    <div class="reminder-date">
      <select
        class="reminder-input"
        [(ngModel)]="selectedHour"
        (change)="onHourChange($event)"
      >
        <option
          *ngFor="let timeOption of timeOptions"
          [value]="timeOption"
          [selected]="timeOption === selectedHour"
        >
          {{ timeOption }}
        </option>
      </select>
      <mat-calendar
        [(selected)]="selectedDate"
        (selectedChange)="onDateChange($event)"
        [minDate]="minSelectableDate"
        [maxDate]="maxSelectableDate"
      ></mat-calendar>
    </div>
  </div>
  <div class="reminder-text">
    <p>Write your reminder (max {{ maxReminderLength }} characters):</p>
    <input
      class="reminder-input"
      maxlength="30"
      type="text"
      placeholder="Write something..."
      [(ngModel)]="reminderText"
      name="reminderText"
    />
    <span
      >{{ maxReminderLength - reminderText.length }} available characters</span
    >
  </div>
  <div class="reminder-city">
    <p>Write the associated city name:</p>
    <input
      class="reminder-input"
      type="text"
      placeholder="City name..."
      [(ngModel)]="reminderCity"
      name="reminderCity"
    />
  </div>
  <button class="update-button" *ngIf="!editMode" (click)="createReminder()">
    Create reminder
  </button>
  <button class="update-button" *ngIf="editMode" (click)="updateReminder()">
    Apply changes
  </button>
</div>
